@import 'header';

// -------------------------
// variables used in theme styles
// --------------------------

$theme-accent-color: rgb(23, 144, 181);
$theme-accent-colorwithalpha: rgba(23, 144, 181, 0.9);
$theme-accent-darker-color: rgb(21, 130, 163);
$theme-hover-color: #333;


@import 'theme_styles';

// --------------------
// define additional custom styles here
// --------------------